@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');

body {
    margin : 0px !important; 
    overflow: hidden !important;
}

#about {
    position: fixed;
    top: 50px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    font-family: 'Trirong', serif;
    color: #272727;
    font-size: 24px;
    letter-spacing: 2px;
}

#header {
    background-color: white;
    height: 50px;
}

#footer {
    font-size: 12px;
    position: fixed;
    bottom: 50px;
    width: 100%;
}

a:hover, a:visited {
    color: #272727;
}