body {
    margin : 0px; 
    overflow: hidden;
}

#overlay {
    background-color: white;
    z-index: 1000;
    width: 100%;
    color: blue;
    text-align: center;
}

.wrapper {
    margin: 0;
}

/* #ar {
    pointer-events:none;
} */